{{#apiInfo}}
{{#apis}}
{{#operations}}
export { {{ classname }} } from './{{ classFilename }}';
{{/operations}}
{{/apis}}

{{! export const APIS = [{{#apis}}{{#operations}}{{ classname }}{{/operations}}{{^-last}}, {{/-last}}{{/apis}}]; }}
{{/apiInfo}}
