{{>licenseInfo}}
{{#models}}
{{#model}}
import { RequestFile } from './models';
{{#tsImports}}
import { {{classname}} } from '{{filename}}';
{{/tsImports}}

{{#discriminator}}
{{#mappedModels}}
import { {{modelName}} } from './models';
{{/mappedModels}}

export type {{classname}} =
{{#mappedModels}}
        | {{modelName}} // {{mappingName}}
{{/mappedModels}}
;
{{/discriminator}}

{{#description}}
/**
* {{{.}}}
*/
{{/description}}
{{^isEnum}}
{{#parent}}
import { {{{.}}}Base } from './models';
{{/parent}}
export type {{classname}}{{#discriminator}}Base{{/discriminator}} = {{#parent}}{{{.}}}Base & {{/parent}}{
{{#vars}}
    /**
{{#description}}
    * {{{.}}}
{{/description}}
    {{#externalDocs}}
     * {{description}}
     * @see <a href="{{url}}">{{summary}} Documentation</a>
    {{/externalDocs}}
    */
    '{{name}}'{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{#isNullable}} | null{{/isNullable}}{{/isEnum}}/*{{#defaultValue}} = {{#isEnum}}{{classname}}.{{/isEnum}}{{{.}}}{{/defaultValue}}*/;
{{/vars}}
}

{{#hasEnums}}
export namespace {{classname}} {
{{#vars}}
{{#isEnum}}
    export enum {{enumName}} {
        {{#allowableValues}}
        {{#enumVars}}
        {{name}} = <any> {{{value}}}{{^-last}},{{/-last}}
        {{/enumVars}}
        {{/allowableValues}}
    }
{{/isEnum}}
{{/vars}}
}
{{/hasEnums}}
{{/isEnum}}
{{#isEnum}}
export enum {{classname}} {
    {{#allowableValues}}
    {{#enumVars}}
    {{name}} = <any> {{{value}}}{{^-last}},{{/-last}}
    {{/enumVars}}
    {{/allowableValues}}
}
{{/isEnum}}
{{/model}}
{{/models}}