name: Test

on:
  push:
  pull_request:
  merge_group:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        # https://nodejs.org/en/about/releases/
        node:
          - '20'
          - '20.12.2'
          - '22'
          - '24.9.0'
      fail-fast: false

    name: Node.js ${{ matrix.node }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true
      - name: Set up Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'temurin'
          java-version: 17
          architecture: x64
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - name: Install Dependency
        run: npm ci
      - name: Test generator
        run: cd generator; mvn package; cd ..
      - name: Generate code
        run: |
          python3 generate-code.py
      - name: Test Project
        run: export NODE_OPTIONS=--max-old-space-size=6144; npm test
      - name: Test building apidocs
        run: export NODE_OPTIONS=--openssl-legacy-provider; npm run apidocs
      - name: Test building docs
        run: export NODE_OPTIONS=--openssl-legacy-provider; npm run docs:build
      - name: Test building examples (CJS)
        run: |
          cd examples/echo-bot-ts-cjs
          npm run build-sdk
          npm install
          npm run build
          cd -
      - name: Test building examples (ESM)
        run: |
          cd examples/echo-bot-ts-esm
          npm run build-sdk
          npm install
          npm run build
          cd -
      - name: publint
        run: npx publint
      - name: validate package
        run: npx @arethetypeswrong/cli $(npm pack)

  pinact:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Run pinact
        uses: suzuki-shunsuke/pinact-action@49cbd6acd0dbab6a6be2585d1dbdaa43b4410133 # v1.0.0
        with:
          skip_push: "true"
