name: Test

on:
  push:
  pull_request:
  merge_group:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        # https://nodejs.org/en/about/releases/
        node:
          - '20'
          - '20.12.2'
          - '22'
          - '24.9.0'
      fail-fast: false

    name: Node.js ${{ matrix.node }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
      - name: Set up Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'temurin'
          java-version: 17
          architecture: x64
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - name: Install Dependency
        run: npm ci
      - name: Test generator
        run: cd generator; mvn package; cd ..
      - name: Generate code
        run: |
          python3 generate-code.py
      - name: Test Project
        run: export NODE_OPTIONS=--max-old-space-size=6144; npm test
      - name: Test building apidocs
        run: export NODE_OPTIONS=--openssl-legacy-provider; npm run apidocs
      - name: Test building docs
        run: export NODE_OPTIONS=--openssl-legacy-provider; npm run docs:build
      - name: Test building examples (CJS)
        run: |
          cd examples/echo-bot-ts-cjs
          npm run build-sdk
          npm install
          npm run build
          cd -
      - name: Test building examples (ESM)
        run: |
          cd examples/echo-bot-ts-esm
          npm run build-sdk
          npm install
          npm run build
          cd -
      - name: publint
        run: npx publint
      - name: validate package
        run: npx @arethetypeswrong/cli $(npm pack)

  pinact:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run pinact
        uses: suzuki-shunsuke/pinact-action@3d49c6412901042473ffa78becddab1aea46bbea # v1.3.1
        with:
          skip_push: "true"
