name: Test

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        # https://nodejs.org/en/about/releases/
        node: [ '18', '20' ]
      fail-fast: false

    name: Node.js ${{ matrix.node }}

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: actions/setup-java@v3
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 17
        architecture: x64
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node }}
        cache: 'npm'
    - name: Install Dependency
      run: npm ci
    - name: Test generator
      run: cd generator; mvn package; cd ..
    - name: Generate code
      run: |
        python3 generate-code.py
    - name: Test Project
      run: export NODE_OPTIONS=--max-old-space-size=6144; npm test
    - name: Test building docs
      run: export NODE_OPTIONS=--openssl-legacy-provider; npm run docs:build
